# .gitignore

# Java class files
*.class

# Executable files
*.exe

# Object and archivefiles
# Can use regular expression, e.g., [oa] matches either o or a
*.[oa]

# temp sub-directory (ended with a directory separator)
temp/
